.main {
    background-color: #FBF5F3;
    border: 5px solid #E28413;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    z-index: 1;
    width: 80%;
    max-width: 1200px;
    min-height: 550px;
    margin: 2em 0;
    padding: 0;
}

.main .container {
    margin-top: 30px;
    width: 90%;
    margin-left: 70px;
    margin-right: 70px;
}

.main .navbar {
  width: 100%;
}

.main .navbar ul {
    background-color: #000022;
    border-radius: 15px 15px 0 0;
    margin: 0;
    padding: 0;
    height: 70px;
    color: #FBF5F3;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    overflow: hidden;
}

.main .navbar li {
    margin: auto 2vw;
    font-size: 3vh;
}

.main .navbar li a {
    text-decoration: none;
    color: #FBF5F3;
    font-size: 2.5vh;
}

.main .navbar li button {
    background-color: transparent;
    border: none;
    color: #FBF5F3;
    font-size: 2.5vh;
    cursor: pointer;
}

.main .navbar li a:hover {
    color: #d3d2d2;
}

.main .navbar li button:hover {
    color: #d3d2d2;
}

.main #revenue-input {
    width: 150px;
    border: none;
    background-color: transparent;

    color: #000022;
    font-size: 25px;
    font-weight: 700;
}

.safe {
    color: #368700;
}

.alert {
    color: #c99700;
}

.danger {
    color: #782200;
}

.main #add-expense {
  display: flex;
  align-items: center;
}

.main #add-expense input {
    width: 25%;
    height: 25px;

    border: 3px solid #E28413;
    border-radius: 20px;
    outline: none;

    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.main .submit-button {
    width: 25%;
    height: 25px;

    background-color: #E28413;
    border: none;
    border-radius: 20px;

    text-align: center;
    font-size: 20px;
    font-weight: 700;

    cursor: pointer;
}

.main .expenses > ul {
    list-style: none;
    padding: 0;
    border: 2px solid #888;
    border-radius: 20px;
}

.main .expenses > ul > li > ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-radius: 20px;
}

.main .expenses > ul > li > ul > li {
    background-color: #FFF;
    border: 2px solid #888;
    flex-grow: 1;
    padding: 10px;
    font-weight: 700;
}

.main .expenses > ul > li > ul > button {
    background-color: #DE3C4B;
    border: 2.5px solid #888;
    cursor: pointer;
    font-size: 20px;
    color: #FFF;
    transition: font-size 300ms;
    outline: none;
}

.main .expenses > ul > li > ul > button:hover {
    font-size: 25px;
    color: #ddd;
}

.main .expenses > ul > li:nth-child(1) > ul > .expense-title:nth-child(1) {
    border-top-left-radius: 16px;
}

.main .expenses > ul > li:last-child > ul > .expense-title:nth-child(1) {
    border-bottom-left-radius: 16px;
}

.main .expenses > ul > li:nth-child(1) > ul > button {
    border-top-right-radius: 16px;
}

.main .expenses > ul > li:last-child > ul > button {
    border-bottom-right-radius: 16px;
}

.main .profile-input {
    width: 80%;
    max-width: 300px;
    height: 25px;
    display: flex;
    margin: auto;
    margin-top: 20px;

    border: 3px solid #888;
    border-radius: 20px;
    outline: none;

    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.main .profile-form > .submit-button {
    display: flex;
    margin: auto;
    margin-top: 20px;
    justify-content: center;
}

.main .footer {
    margin-top: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media(max-width: 600px){

  .main {
    width: 100%;
  }

  .main #add-expense {
    flex-direction: column;
    justify-content: space-between;
  }

  .main #add-expense input,
  .main .submit-button {
    width: 80%;
    margin: 10px 0;
  }

  .main .expenses > ul {
    display: flex;
    flex-direction: column;
  }

  .main .expenses > ul > li {
    margin-bottom: 20px;
  }

  .main .expenses > ul > li > ul {
    display: flex;
    flex-direction: column;
  }

  .main .expenses > ul > li > ul > .expense-title:nth-child(1) {
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
  }

  .main .expenses > ul > li:nth-child(1) > ul > button {
    border-top-right-radius: 0;
  }

  .main .expenses > ul > li:last-child > ul > .expense-title:nth-child(1){
    border-bottom-left-radius: 0;
  }

  .main .expenses > ul > li > ul > button {
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
  }

  .main .expenses > ul > li:last-child {
    margin-bottom: 0;
  }

}
